body {
    font-size: 18px;
    font-family: monospace;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#expenses-tab {
    width: 60%;
    height: 80%;
    background-color: antiquewhite;
    border: black 2px solid;
    overflow-y: scroll;
}
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.table-spacer {
    height: 10px;
}
td {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
td:last-child {
    position: relative;
    padding-right: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#add {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: transparent;
    font-size: 1.2em;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: black 2px solid;
}

#filter {
    position: relative;
    border: black 2px dotted;
    border-radius: 5px;
    font-size: 0.9em;
    width: 75px;
}
#filter-div {
    position: relative;
    margin-bottom: 5px;
    left: -20%;
}

#new-expense, #edit-expense {
    z-index: 10;
    display: none;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: black 2px solid;
    height: 200px;
    border-radius: 20px;
    position: absolute;
    background-color: white;

}
.expense-menu {
    position: absolute;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 1.1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10px;
    outline: none;
}
.name {
    width: 200px;
}
.category {
    width: 100px;
}
.amount {
    width: 150px;
    margin-top: 8px;
}

#registerNew, #register {
    position: relative;
    background-color: transparent;
    border: black 3px solid;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    font-size: 0.8em;
    bottom: -40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
